*{
   margin: 0 auto;
   padding: 0 auto;
   box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}
/* NAVBAR */

header {
  background: #522  ;
  height: 66px;
}
.admin{
  background:   rgb(121, 64, 64);
  left:0;
  height: 90vh;
}

header * {
  color: white;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}

header .logo-text {
  margin: 9px;
  font-family: 'Candal', serif;
}

header .logo-text span {
  color: #05f7ff;
}

header ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

header ul li {
  float: left;
  position: relative;
}

header ul li ul {
  position: absolute;
  top: 66px;
  right: 0px;
  width: 180px;
  display: none;
  z-index: 88888;
}

header ul li:hover ul {
  display: block;
}

header ul li ul li {
  width: 100%;
}

header ul li ul li a {
  padding: 10px;
  background: white;
  color: #444;
}

header ul li ul li a.logout {
  color: red;
}

header ul li ul li a:hover {
  background: #d5d6d6;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
}

header ul li a:hover {
  background: #006669;
  transition: 0.5s;
}

header .menu-toggle {
  display: none;
}

.page-wrapper {
  min-height: 100%;
}

.page-wrapper a:hover {
  color: #006669;
}

/*End of Nav Bar*/
/*post*/

.corousel{
  background-color: red;
  width: 84%;
  height: 50vh;
  margin: auto;
  overflow: hidden;
  
}
.nen{
  display: flex;
  justify-content: space-between;
}
.next{
  margin-left: 30rem;
}
.prev{
  margin-left: 3rem;
}
.post{
  background-color: cadetblue;
  display: inline-block;
  width: 50vh;
  margin: 0px 10px;
  height: inherit;
}
/*//post*/
.height{
    width:60vh;
    height: 60vh;
}
.search a{
  color:yellow;
}
.sam{
  width:15vh;
  height: 15vh;
}
.margin{
  border-top: 1px solid black ;
}